p, ul {
  line-height: 150%;
}

footer {
  background: #c60;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c60), to(#f93));
  background-image: -moz-linear-gradient(top, #c60, #f93);
  <!--[if IE]>
  background: transparent;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#cc6600',endColorstr='#ff9933');
  <![endif]-->
  clear: both;
  color: white;
  float: left;
  margin-top: 80px;
  padding: 80px 0px 400px;
  text-shadow: rgba(0, 0, 0, 0.7) 0px -1px;
  width: 100%;
}

footer hgroup h2 {
  color: #c30;
  display: inline-block;
  font-family: 'Tangerine', Georgia, 'Times New Roman', serif;
  font-size: 28px;
  font-weight: 500;
  margin: 0px 15px 12px 0px;
}

footer p {
  font-family: 'Arimo', Georgia, 'Times New Roman', serif;
  font-size: 14px;
  line-height: 150%;
}

.relative {
  position: relative;
}

#copyright {
  clear: both;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 100px;
}

#guilloche {
  left: 0px;
  position: absolute;
  top: 0px;
  z-index: 0;
}

#main-bg {
  background-color: #c60;
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0))), #c60;
  clear: both;
  color: white;
  cursor: default !important;
  display: block;
  height: 371px;
  position: fixed;
  text-shadow: rgba(0, 0, 0, 0.3) 0px -1px;
  top: 82px;
  width: 100%;
}

#main-bg h1 {
  font-family: 'Tangerine', Georgia, 'Times New Roman', serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1em;
  margin: 40px 0px 20px;
  text-align: left;
  text-shadow: rgba(0, 0, 0, 0.6) 0px -1px;
}

#main-bg p, #main-bg ul {
  font-family: 'Arimo', Georgia, 'Times New Roman', serif;
  font-size: 16px;
  list-style: none;
  margin-bottom: 15px;
}

#main-nav {
  background-color: white;
  border-bottom: 1px solid white;
  border-top: 4px solid #ECECEC;
  display: block;
  float: left;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2000;
}

#main-nav #erawan-logo {
  background: url(../images/erawan.png) no-repeat;
  display: inline-block;
  height: 115px;
  margin-left: -10px;
  margin-top: -5px;
  padding: 0;
  position: absolute;
  text-indent: -1000px;
  top: 5px;
  width: 230px;
}

#main-nav #erawan-logo:hover {
  background-color: transparent;
  border-top: none;
  margin-top: -5px;
}

#main-nav a:hover {
  color: #B53303;
  font-weight: 500;
}

#main-nav>div {
  position: relative;
}

#main-nav ul {
  float: right;
}

#main-nav li {
  float: left;
}

#main-nav li a {
  -webkit-transition: background-color 0.1s ease-in-out;
  display: block;
  font-family: 'Arimo', Georgia, 'Times New Roman', serif;
  line-height: 115px;
  padding: 0px 15px;
  text-decoration: none;
  text-shadow: white 0px 1px;
  white-space: nowrap;
}

#main-wrapper {
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 12px;
  clear: both;
  padding-top: 50px;
  position: absolute;
  top: 432px;
  width: 100%;
  z-index: 10;
}

section.menu {
  clear: both;
}

section.menu .category {
  font-size: larger;
  text-align: center;
  width: 380px;
}


.menu hgroup dt {
  font-size: smaller;
  font-style: italic;
  float: left;
  margin-left: 0;
  width: 305px;
}


.menu dl {
  margin-left: 0;
  margin-right: 10px;
  width: 380px;
}

.menu dt, .menu dl>dd:last-of-type {
  clear: both;
  float: left;
  margin-left: 40px;
  width: 265px;
}

.menu dl>dd:first-of-type {
  float: left;
  margin-left: -305px;
}

.menu hgroup dl>dd:first-of-type,.menu hgroup dl>dd:last-of-type,.menu dl>dd:nth-of-type(2) {
  clear: right;
  float: right;
  letter-spacing: 0.1em;
  width: 75px;
}

.menu dl>dd:last-of-type {
  padding-bottom: 0.5em;
}


.menu dt {
  font-weight: bold;
}

/* price */
.menu hgroup dl>dd:first-of-type,.menu hgroup dl>dd:last-of-type,.menu dl>dd:nth-of-type(2) {
  font-size: inherit;
  font-style: normal;
}

.menu dl>dd:last-of-type, .menu .extra {
  font-size: smaller;
  font-style: italic;
}


.map {
  color: #ffffff;
}


footer a, footer a:visited {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: #cc0000;
}
